<div class="container d-flex flex-column">
  <h3 class="align-self-center m-5">Welcome Back,{{ result }}!</h3>
  <img class="align-self-center" src="https://mhsdailycomet.com/wp-content/uploads/2019/01/welcome-back.jpg" alt="">

</div>